.main-content {
  padding: 0;
  margin: 0;
  max-width: 1200px;
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  background: url("../assets/img/pizza-slice.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 0;
}
.homepage > * {
  position: relative;
  z-index: 1;
}
.homepage__hero {
  background-color: rgba(235, 192, 112, 0.168627451);
  padding: 3rem;
  text-align: center;
  width: 100%;
}
.homepage__hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffa500;
}
.homepage__hero p {
  font-size: 1.2rem;
  color: #ffa500;
}
.homepage__offer {
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.homepage .offer-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homepage .offer-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.homepage .offer-content .phone-number {
  display: block;
  background-color: #ffa500;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.homepage .offer-content .phone-number:hover {
  background-color: #ffbf00;
}
.homepage .offer-content .phone-icon {
  display: inline-block;
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .homepage .homepage__offer .offer-content {
    padding: 1rem;
    margin: 1rem;
  }
  .homepage .homepage__offer .offer-content .phone-number {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .homepage .homepage {
    background: none;
  }
  .homepage .homepage::before {
    background: rgba(51, 51, 51, 0.9);
  }
  .homepage .homepage__hero,
  .homepage .homepage__offer {
    padding: 1rem;
    text-align: center;
  }
  .homepage .homepage__hero h1,
  .homepage .homepage__hero h2,
  .homepage .homepage__offer h1,
  .homepage .homepage__offer h2 {
    font-size: 1.5rem;
  }
  .homepage .homepage__hero p,
  .homepage .homepage__offer p {
    font-size: 1rem;
  }
  .homepage .homepage__offer .offer-content {
    padding: 1rem;
    margin: 1rem;
  }
}