.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

  button {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e64a19;
    }

    &:focus {
      outline: none;
    }
  }
}
