// Menu.scss
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

.menu {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: auto;
  font-family: 'EB Garamond', serif;
  font-size: 1.25rem;

  .menu-header {
    color: #ffa500;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2rem;
  }

  .menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .menu-item {
      border-bottom: 2px solid #ffa500; // 橙色分割线
      padding: 10px 0; // 在分割线上下添加一些空间
      margin-bottom: 20px; // 调整菜单项之间的间距
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-name {
        color: #ffa500; // 设定文本颜色为橙色
        font-weight: bold;
        flex-grow: 1;
        font-size: 1.25rem; // 统一字体大小
      }

      .item-description {
        flex-grow: 2;
        margin: 0 20px; // 如果需要，可以调整间距
        color: #fff; // 设定描述文本颜色为白色
      }

      .item-price {
        color: #ffa500; // 设定价格颜色为橙色
        white-space: nowrap;
        font-size: 1.25rem; // 统一字体大小
        &:before {
          content: '€'; // 在价格前加上欧元符号
          margin-right: 5px; // 在欧元符号和价格数字之间添加一些空间
        }
      }
    }
  }
}
